<div class="modal-header">
	<h4 class="modal-title">Edit User Information</h4>
	<button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
</div>
<div class="modal-body">
	<div class="card-text">
        <form [formGroup]="editForm" (submit)="editHandler()">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control form-control-sm"  formControlName="name" id="name" >
            </div>
            <div class="form-group">
                <label for="phoneNo">Phone Number</label>
                <input type="number" class="form-control form-control-sm"   formControlName="phoneNo" id="phoneNo">
            </div>
                <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control form-control-sm"  formControlName="email" id="email" >
            </div>
            <div class="form-group">
                <label for="gender">Gender</label>
                <input type="text" class="form-control form-control-sm"  formControlName="gender" id="gender" >
            </div>
            
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control form-control-sm"  formControlName="password" id="password">
            </div>
            <button type="submit" class="btn btn-primary btn-block">Update Details</button>
        </form>
    </div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>
