<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="about" id="about">

        <div class="image">
            <img src="assets/image/about pic.jpg" alt="no image">
        </div>
    
        <div class="content">
            <h4>About Shree Samarth Tour & Travels...</h4>
            <p style="text-decoration: none;" >We are fast growing, trusted and professional travel partners for working executives, businessman’s who are on the tows and wants to reach in time and also for families and friends for their leisurely travel holidays that they deserve.
    
                Key Services Offered :
                Airport Pick and Drop
                One day travel and business trips
                Corporate transport
                City tours
                Pilgrimage tours
                
                Our Vehicle Fleet includes :
                Innova Crysta | Innova | Ertiga | Tavera | Xylo | Dzire | Indigo | Indica
                We provide Bus for your travel and transportation needs.
                We have 11/13/17/27/32/42/50 seater AC and non-AC buses.</p>   
        </div>
    </section>

  
    <footer class="footer-distributed">
    
          <div class="footer-left">
    
            <h6 style="color: white;" >About Shree Samarth Tour & Travels...<span>logo</span></h6>
    
            <p class="footer-links">
              <a href="#" class="link-1">Home</a>
              
              <a href="#">About Us</a>
            
              <a href="#">Services</a>
            
              <a href="#">Popular Package</a>
              
              <a href="#">Custom Package</a>
              
              <a href="#">Contact Me</a>
            </p>
    
            <p style="color: white;" class="footer-company-name">Copyright 2023 ©Shree Samarth Tours And Travels. All Rights Reserved.</p>
          </div>
    
          <div class="footer-center">
    
            <div>
              <i class="fa fa-map-marker"></i>
              <p><span>Address</span>Shantinagar-khopoli,Tal-Khalapur,Dist-Raigad,Maharashtra.</p>
            </div>
    
            <div>
              <i class="fa fa-phone"></i>
              <p>+91-9764499256</p>
            </div>
    
            <div>
              <i class="fa fa-envelope"></i>
              <p><a href="mailto:support@company.com">shreesamarthtt@gmail.com</a></p>
            </div>
    
          </div>
    
          <div class="footer-right">
    
            <p style="color: white;" class="footer-company-about">
              <span>About the Website</span>
              Digital platform for tours & travels services that provides choose your favorite places, 
              And you can book online Popular Packages.
            </p>
    
            <div class="footer-icons">
    
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a>
              <a href="#"><i class="fa fa-linkedin"></i></a>
              <a href="#"><i class="fa fa-github"></i></a>
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a>
              
    
            </div>
    
          </div>
    
        </footer>


</body>
</html>
