<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="services">

        <h1 class="heading"> Services </h1>
    
        <div class="box-container">
    
            <div class="box">
                <img src="assets/image/serv-1.png" alt="">
                <h3>complete guide</h3>
                <p>A historical guide leads tourists around historical landmarks and points of interest like ruins, temples, battlefields and other sites of historical importance. Adventure guide. Museum guide.</p>
               
            </div>
    
            <div class="box">
                <img src="assets/image/serv-2.png" alt="">
                <h3>custom packages</h3>
                <p>Choose from dozens of Holiday Packages &amp; Book your Dream Vacation and Grab exciting discounts for your upcoming Holidays to our most-loved destinations! Services: Return Flights, Top Rated Hotels.</p>
               
            </div>
    
            <div class="box">
                <img src="assets/image/serv-3.png" alt="">
                <h3>family trips</h3>
                <p>Family package is special for families with young kids (below 11 years old). The package will include two adults or one adult and a kid above 11 yeas old and get great deals on well-planned itineraries.</p>
                
            </div>
    
            <div class="box">
                <img src="assets/image/serv-4.png" alt="">
                <h3>train guides</h3>
                <p>They encourage tourism by offering different promotional schemes, tour packages, special trains, charter trains, luxurious trains, coaches to tourist domestic as well as foreign.</p>
                
            </div>
    
            <div class="box">
                <img src="assets/image/serv-5.png" alt="">
                <h3>adventure trail</h3>
                <p>Take the trip of a lifetime with our expert climbing, trekking and hiking tours. Plan Your Next Adventure Tours and Travels with Treks and Trails India! </p>
                
            </div>
    
            <div class="box">
                <img src="assets/image/serv-6.png" alt="">
                <h3>various adventures</h3>
                <p>adventure activities such as trekking, climbing, rafting, scuba diving, or the likes. Adventure tourism gains much of its excitement by allowing the tourist</p>
                
            </div>
            
        </div>
    
    </section>
</body>
</html>
