.services {
    background: #eee;
}
.heading {
    text-align: center;
    margin-bottom: 2.5rem;
    font-size: 4rem;
    color: #10221b;
}
.services .box-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
    
}


.services .box-container .box {
    text-align: center;
    padding: 2rem;
    border: 0.2rem solid #10221b;
    border-radius: .5rem;
    background: #fff;
}

.services .box-container .box h3 {
    font-size: 2rem;
    color: #219150;
}

