<h2>Tour Requests</h2>
<table class="table table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Status</th>
        <th>Phone No.</th>
        <th>Address</th>
        <th>From</th>
        <th>To</th>
        <th>Vehicle Type</th>
        <th>Members</th>
        <th>Date</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of tableData">
        <td>{{ item.id }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.email }}</td>
        <td>{{ item.status }}</td>
        <td>{{ item.phone }}</td>
        <td>{{ item.address }}</td>
        <td>{{ item.from }}</td>
        <td>{{ item.to }}</td>
        <td>{{ item.vehicleType }}</td>
        <td>{{ item.member }}</td>
        <td>{{ item.date }}</td>
        <td>
            <div style="display:flex">
                <a style="margin-right:10px"(click)="acceptHandler(item)" class="btn btn-primary btn-sm">
                     Accept
                  </a>
                  <a (click)="rejectHandler(item)" class="btn btn-primary btn-sm">
                     Reject
                  </a>
            </div>
          
        </td>
      </tr>
    </tbody>
  </table>
  <hr>
  <h2>Users Information</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone No.</th>
        <th>Gender</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of tableData1">
        <td>{{ item.id }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.email }}</td>
        <td>{{ item.phoneNo }}</td>
        <td>{{ item.gender }}</td>
        <td>
          <a style="margin-right:10px" (click)="deleteUser(item)" class="btn btn-primary btn-sm">
             Delete
          </a>
          <a (click)="editUser(item)" class="btn btn-primary btn-sm">
            Edit
         </a>
        </td>
      </tr>
    </tbody>
  </table>
  <hr>
  <h2>Contact Us Information</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone No.</th>
        <th>Message</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of tableData2">
        <td>{{ item.id }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.email }}</td>
        <td>{{ item.phoneNo }}</td>
        <td>{{ item.message }}</td>
   
        <td>
          <a (click)="deleteHandler(item)" class="btn btn-primary btn-sm">
            Delete
          </a>
        </td>
      </tr>
    </tbody>
  </table>
