<section class="packages" id="packages">

    <h1 class="heading">popular packages</h1>

    <div class="box-container">

        <div class="box">
            <div class="image">
                <img src="assets/image/Adlabs-Imagica.jpg" alt="no image">
            </div>
            <div class="content">
                <h3>Imagica</h3>
                <p>An all-day experience perfect for friends and family of all ages, with numerous thematic shows, thrilling indoor &amp; outdoor roller coasters, family entertainment ...
                </p>
                <div class="price">1 Day 3000rs-3500rs</div>
                <a [routerLink]="['/package']"  class="btn">Book now</a>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="assets/image/mahabaleshwar.jpg" alt="no image">
            </div>
            <div class="content">
                <h3>Mahabaleshwar</h3>
                <p>Mahabaleshwar is a beautiful hill station nestled in Satara District in the Indian state of Maharashtra.Along with lush green forests that look spectacular and amazing. </p>
                <div class="price">1 Day 4500rs</div>
                <a [routerLink]="['/package']"  class="btn">Book now</a>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="assets/image/goa.jpg" alt="no image">
            </div>
            <div class="content">
                <h3>Goa</h3>
                <p>Goa is one of the most favorite destination among Indian tourists due to its pristine beaches and offers beautiful views and serenity where tourists enjoy and relax in the Sun.</p>
                <div class="price"> 4 Day 14500rs - 15000rs</div>
                <a [routerLink]="['/package']"  class="btn">Book now</a>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="assets/image/mumbai_airport.jpg" alt="no image">
            </div>
            <div class="content">
                <h3>Mumbai Airport - Pune</h3>
                <p>Marine Drive (22 km from Mumbai Airport) ...
                    Colaba Causeway Market (26 km from Mumbai Airport) ...
                    Siddhivinayak Temple (11 km from Mumbai Airport) ...
                    Hanging Gardens Of Mumbai. ...
                    Elephanta Caves. ...
                    Haji Ali (17 km from Mumbai Airport) ...
                    Essel World. ...Bandra- Worli Sea Link...Water Kingdom...
                    </p>
                <div class="price">One Way Rate 2000rs-2500rs</div>
                <a [routerLink]="['/package']" class="btn">Book now</a>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="assets/image/ashtvinayak.jpg" alt="no image">
            </div>
            <div class="content">
                <h3>Ashtvinayak</h3>
                <p>The Ashtavinayaka yatra or pilgrimage covers the eight holy temples of Ganesha .All the Eight Ashtavinayak Templs are Swayambhu (self-originated) and Jagrut.There are various names of Lord Ganesh for various places. The various names of Lord Ganesh are Moreshwar, Mahaganpati, Chintamani,  and Varad Vinayak.</p>
                <div class="price">2 Days 8000rs-8500rs</div>
                <a [routerLink]="['/package']"  class="btn">Book now</a>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="assets/image/shaniwar_wada.jpg" alt="no image">
            </div>
            <div class="content">
                <h3>Pune Local</h3>
                <p>Shaniwar Wada Palace, Parvati Hill, Aga Khan Palace, Vetal Tekdi, Pashan Lake, Shinde Chhatri,  Osho Ashram, Khadakwasla Dam, Empress Garden, Rajmachi, Mulshi Lake and Dam, David Synagogue, Dagdusheth Halwai Temple, Raja Dinkar Kelkar Museum, National Defence Academy, Adlabs Imagica and many more.</p>
                <div class="price">80 KM 1600rs-1800rs</div>
                <a [routerLink]="['/package']" class="btn">Book now</a>
            </div>
        </div>

    </div>

</section>
